<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>Music App</header>
    <div>
    <% if current_user%>
      <form class="log_out" action="<%=session_url%>" method="Post">
      <input type="hidden" name="_method" value= "Delete">
      <input type="hidden" name="authenticity_token" value=<%=form_authenticity_token%>>
      <input class="input" type="submit" value="Log Out">
      </form>
    <% end %>  
    </div>
    
    <%= yield %>
  </body>
</html>
